.title {
    font-size: 22px;
    font-weight: bold;
}

.title, .boxes {
    margin-top: 30px;
}

.name {
    font-size: 16px;
}

.when {
    font-size: 14px;
    color: #4F8296;
}

.comment {
    font-size: 16px;
}

.usefulness {
    width: 13%;
}

.usefulness, .likes, .dislikes {
    display: flex;
    justify-content: space-between;
}

.likes, .dislikes {
    width: 40px;
}

@media (max-width: 700px) {
    .comments {
        text-align: center;
    }

    .boxes {
      text-align: center;
    }

    .usefulness {
      margin-left: 20px;
    }
}